{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block content %}

<h1 align="center">Welcome to VR Scheduler</h1>
<br/>

<ul class="nav nav-fill">
  <li class="nav-item">
    <a class="btn btn-primary" href="{{url_for('views.schedule')}}">Schedule an Appointment</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-primary" href="{{url_for('views.schedule_list')}}">View Schedule</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-primary" href="{{url_for('auth.logout')}}">Logout</a>
  </li>
</ul>

<br/>
<h5>This is a simple VR Lab Scheduler website.</h5>

{% endblock %}